.Login-form {
  display: grid;
  padding: 20px;
}

.Login-form h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.Login-form label {
  padding-top: 16px;
  font-size: 16px;
}

.Login-form input {
  width: 202px;
  border: 1px solid #767676;
}
.Login-form button {
  margin-top: 20px;
  width: max-content;
}

.Login-form-error {
  color: red;
  font-size: 16px;
  margin-top: 20px;
}
