.Card {
    padding: 20px;
}

.Card-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.Cart-controls a {
    color: #0087E9;
    text-decoration: none;
}
.Card-controls a:visited {
    color: #0087E9;
}
.Card-bold_text {
    font-weight: bold;
}
.Card-container-description div {
    padding-bottom: 20px;
}