:root {
  --grey-text-color: #404040;
}

.Item {
  display: flex;
  justify-content: flex-start;
}

.Item-code {
  padding: 20px 10px 20px 20px;
}

.Item-title {
  width: 100%;
  padding: 20px 10px;
}

.Item-price {
  display: flex;
  justify-content: end;
  width: 100%;
  padding: 20px 10px;
  color: var(--grey-text-color);
  font-size: 18px;
}

.Item-count {
  display: flex;
  justify-content: end;
  padding: 20px 10px;
  color: var(--grey-text-color);
  font-size: 18px;
}

.Item-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
}
