.Status-cart {
  display: flex;
  justify-content: flex-end;
}
.Status-cart__status {
  padding: 20px 0;
  font-size: 18px;
}
.Status-cart__status .b {
  font-weight: 700;
}
.Status-cart__button {
  display: flex;
  padding: 20px;
}
.Modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.Modal__content {
  background-color: white;
  position: absolute;
  width: 960px;
  border-radius: 10px;
}
.Modal__content .Head {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
}

.Header-container__button {
  display: flex;
  align-items: center;
  padding: 12px;
}
.Footer {
  display: flex;
  justify-content: flex-end;
  padding: 0 20px 70px;
}
.Footer-content {
  display: flex;
  align-items: center;
  padding: 20px 80px;
  color: black;
  font-weight: 700;
  font-size: 18px;
}
.Footer-content span {
  padding-right: 20px;
}
.Modal-content__list-item {
  border-bottom: 1px dashed #ccc;
}
