
.Modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.Modal__content {
  display:grid;
  grid-template-columns: repeat(12, 1fr) ;
  grid-column-gap: 24px;
  background-color: white;
  position: absolute;
  width: 960px;
  border-radius: 10px;
}

.Modal-content__list-item {
  grid-column: span 12;
  border-bottom: 1px dashed #ccc;
}


.Header-container{
  grid-column: span 12;
}

.Header-container .Head {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
}

.Header-container__button {
  display: flex;
  align-items: center;
  padding: 12px;
}
.Footer {
  grid-column: 10 / span 3  ;
  width: 100%;
  justify-self: end;
  padding: 0 20px 70px;
}
.Footer-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0 0 28px;
  color: black;
  font-weight: 700;
  font-size: 18px;
}
.Footer-content__text {
  padding-right: 20px;
}



